portable/ARMClang
portable/ARMv8M
portable/BCC
portable/CCS
portable/CodeWarrior
portable/IAR
portable/Keil
portable/MikroC
portable/MPLAB
portable/oWatcom
portable/Paradigm
portable/Renesas
portable/Rowley
portable/RVDS
portable/SDCC
portable/Softune
portable/Tasking
portable/WizC
portable/GCC
portable/ThirdParty/CDK
portable/ThirdParty/Community-Supported-Ports
portable/ThirdParty/GCC/ARC*
portable/ThirdParty/GCC/ARM*
portable/ThirdParty/GCC/ATmega*
portable/ThirdParty/GCC/RISC*
portable/ThirdParty/GCC/RP2040
portable/ThirdParty/GCC/Xtensa_ESP32
portable/ThirdParty/Partner-Supported-Ports
portable/ThirdParty/XCC
CMakeLists.txt
*.url
manifest.yml
*.spdx
